html {
    background-image: url(img/background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

#box {
    background-image: url(img/voltorb.png);
    background-position: center;
    background-size: contain;
    background-color: black;
    width: 100px; 
    height: 100px; 
    position: absolute;
    left: 200px; 
    top: 200px;
    border-radius: 100%;
}
